node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Ignition default folder for deployment artifacts
ignition/deployments

# Build outputs
dist
build
